/**
 * 优先使用 Tailwind CSS 实现你的业务样式
 * https://tailwindcss.com
 */

body {
  -webkit-overflow-scrolling: touch;
}

/* demo: viewTransition */
@keyframes image-expand {
  0% {
    transform: perspective(800px) rotateY(-15deg);
  }
  25% {
    transform: perspective(800px) rotateY(0);
  }
  50% {
    transform: perspective(800px) rotateY(15deg);
  }
  75% {
    transform: perspective(800px) rotateY(-15deg);
  }
  100% {
    transform: perspective(800px) rotateY(0);
  }
}

::view-transition-new(image-expand) {
  animation: image-expand 0.5s ease-in-out;
}
