# 使用淘宝镜像源
registry=https://registry.npmmirror.com/

# ===== pnpm 专有配置 (npm 会忽略) =====
# 强制执行 package.json 中声明的 Node.js 和包管理器版本要求
package-manager-strict=false

# 启用 shell 模拟器，使脚本在不同操作系统上有一致的行为
shell-emulator=true

# 启用脚本的 pre/post 钩子
enable-pre-post-scripts=true

# 解决Vercel部署pnpm依赖问题
shamefully-hoist=true
node-linker=hoisted
public-hoist-pattern[]=*