# 使用淘宝镜像源
registry=https://registry.npmmirror.com/

# 指定使用 pnpm 管理依赖
preferred-package-manager=pnpm

# 强制执行 package.json 中声明的 Node.js 和 npm 版本要求
package-manager-strict=false

# 启用 npm 的 shell 模拟器，使 npm 脚本在不同操作系统上有一致的行为
shell-emulator=true

# 启用 npm 脚本的 pre/post 钩子，允许执行类似 pre<script>、post<script> 的生命周期脚本
enable-pre-post-scripts=true
